*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
*.prefs
*.classpath
*.lock
*.log
*.gen
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.5.0.20140606-0033.xml
.metadata/.plugins/org.eclipse.team.cvs.core/.running
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/version.ini
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/tasks.xml.zip
*.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
*.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
*.repositories
*.properties
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/maven-metadata-models.xml
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/index-0.0.0-20140605.014212-1.zip
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/jre/jre/1.0.0-SNAPSHOT/maven-metadata-models.xml
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/jre/jre/1.0.0-SNAPSHOT/jre-1.0.0-20140604.182659-5-ovrm.zip
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/jre/jre/1.0.0-SNAPSHOT/jre-1.0.0-20140604.182326-1-call.zip
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments_1
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.core.resources/.history/ff/5095b9978bb100141c448913b6766219
.metadata/.plugins/org.eclipse.core.resources/.history/6d/b05b08868cb100141c448913b6766219
.metadata/.plugins/org.eclipse.core.resources/.history/5e/70fce5478cb100141c448913b6766219
.metadata/.plugins/org.eclipse.core.resources/.history/58/507ffcc48bb100141c448913b6766219
.metadata/.plugins/org.eclipse.core.resources/.history/47/500ec0928eb100141c448913b6766219
.metadata/.plugins/org.eclipse.core.resources/.history/45/f0ab91948cb100141c448913b6766219
.metadata/.plugins/org.eclipse.core.resources/.history/24/60d9365f8eb100141c448913b6766219
.metadata/.plugins/org.eclipse.core.resources/.history/2/901e5a998eb100141c448913b6766219
.metadata/.mylyn/.tasks.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.history/7a/303d58df8bb100141c448913b6766219
.metadata/.plugins/org.eclipse.core.resources/.history/90/60346c658eb100141c448913b6766219
.metadata/.plugins/org.eclipse.core.resources/.history/a6/a0685d9b8eb100141c448913b6766219
.metadata/.plugins/org.eclipse.core.resources/.history/aa/605aeca78cb100141c448913b6766219
.metadata/.plugins/org.eclipse.core.resources/.history/b1/a0f4eff28bb100141c448913b6766219
.metadata/.plugins/org.eclipse.core.resources/.history/b2/e03c44118cb100141c448913b6766219
.metadata/.plugins/org.eclipse.core.resources/.history/bc/d0b2826d8bb100141c448913b6766219
.metadata/.plugins/org.eclipse.core.resources/.history/db/00a3a6fa8cb100141c448913b6766219
.metadata/.plugins/org.eclipse.core.resources/.history/ee/d0d1b5638eb100141c448913b6766219
